@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-start: #2e89dc;
	--primary-via: #4361ee;
	--primary-end: #fb6f92;
	--white: #ffffff;
	--background: 360 100% 100%;
	--black: #454444;
	--dark-grey: #a3a2a2;
	--grey: #efeeee;
	--blue: #2e89dc;
	--error: #cb1212;
	--green: #73e63d;
	--gradient: linear-gradient(
		90deg,
		var(--primary-start) -30%,
		var(--primary-via) 30%,
		var(--primary-end) 100%
	);
	--gradient-45: linear-gradient(
		135deg,
		var(--primary-start) -30%,
		var(--primary-via) 30%,
		var(--primary-end) 100%
	);
	--radius: 10px;
	--ring: #2e89dc;
}

@layer utilities {
	/* hide scrollbar on chromium based */
	.hidden-scrollbar::-webkit-scrollbar {
		display: none;
		/* firefox */
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}
