@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {

.primary {
  @apply bg-gradient-to-r from-blue-500 to-green-500;
}
}
 */

:root {
	--primary-start: #2e89dc;
	--primary-via: #4361ee;
	--primary-end: #fb6f92;
	--gradient: linear-gradient(
		90deg,
		var(--primary-start) -30%,
		var(--primary-via) 30%,
		var(--primary-end) 100%
	);
}
